footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer{
  height: 5rem;
  display: flex;
  align-items: center;
}
.footer__texto{
  text-align: center;
}
.secao-footer{
  background-color: var(--azul-claro);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.foot-content{
  width: 100%;
  display: flex;
}