.topo__pesquisa{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  background-color: var(--cinza-claro);
  border-radius: 1rem;
  padding: .5rem .8rem;
}

.topo__input-pesquisa, .topo__botao-pesquisa{
  all: unset;
}
.topo__botao-pesquisa{
  cursor: pointer;
  opacity: .5;
}
.topo__input-pesquisa{
  width: 100%;
  color: var(--preto);
  font-size: .8rem;
}
@media screen and (width < 468px) {
  .topo__pesquisa{
    background: none;
    margin-left: .5rem;
    width: 100%;
    position: relative;
  }
  .topo__botao-pesquisa{
    opacity: 1;
  }
  .topo__input-pesquisa{
    display: none;
    width: fit-content;
    height: 100%;
    position: absolute;
    background: var(--cinza-claro);
    top: 0;
    right: 50px;
  }
}