header{
  background-color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 7rem;
}
.topo{
  display: flex;
  width: 90%;
  justify-content: space-between;
}
